#home a.btn-masuk {
    /* Primary/Purple/04 */
    background-color: #7126B5;
    border-radius: 12px;
    font-weight: thin;
    color: white;
    position: sticky;
    font-family: 'Poppins';
}

#home #imgbanner {
    width: 100%;
    max-height: 400px;
}

#home #carousel-body2 {
    width: 100%;
    height: 390px;
    background-color: #E2D4F0;
    border-radius: 20px;
    padding-top: 3%;
    position: relative;
    justify-content: center;
}

#home #carousel-body3 {
    width: 100%;
    height: 390px;
    background-color: #B6D4A8;
    border-radius: 20px;
    padding-top: 3%;
    position: relative;
}

#home button.btn-filter {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 14px 24px; */
    /* padding-left: 0.5rem; */

    width: 133px;
    height: 48px;

    /* Primary/Purple/04 */

    background: #E2D4F0;
    border-radius: 12px;
    color: #3c3c3c;
    transition-duration: 0.4s;
}

#home .magnifying-glass {
    padding-right: 0em;
}

#home .btn-filter:hover {
    background: #7126B5;
    color: white;
}

#home h2.category-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #000000;
}

#home h5.card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

#home h5.card-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

#home p.jenis-barang {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
}

#home #owl-carousel {
    margin-top: 40px;
    width: 150%;
    left: -25%;
    position: relative;
}

#home .slide-item {
    /* height: 10rem; */
    /* padding: 1rem; */
    transition: .4s ease all;
    /* margin: 0 20px; */
    transform: scale(0.9);
}

#home .nav-resp {
    display: none;
}

@media (min-device-width : 320px) and (max-device-width : 991px) {
    #home .nav-resp {
        display: inherit;
    }

    #home .bg {
        background-image: url('../images/Group_9.png') !important;
    }

    #home #carousel{
        display: none;
    }
}